.Card {
  background-color: var(--p-surface, color('white'));
  padding: var(--p-space-5) var(--p-space-8);
  border-radius: var(--p-border-radius-2, border-radius());
  box-shadow: var(--p-shadow-card, shadow());
  outline: border-width(base) solid transparent;
}
